.maunen{
    background-color: rgb(197, 232, 241);
}
 .cl1:hover{
    background-color: rgba(249, 248, 248, 0.971) ;
} 
/* .an{
    /* display: none; */
/* .dieukhien:hover{
    display: block;
    z-index: 2;
} */ 

.bang{
    background-color: rgb(197, 232, 241);
    padding-left: 20px;
}
.tieu_de{
    color: rgb(192, 156, 112);
}

.tieu_de2{
    color: rgb(192, 156, 112);
    text-align: center;
}
.chudam{
    font-weight: 800;
}